@{
    ViewData["Title"] = "Drinks";
}

<div class="item-overview">
    <section class="drinks">
        <div class="drink-size">
            <!--Pictures of drinks-->
            <div class="drink-img-box">
                <img src="img/placeholder.jpeg" class="drink-size-s" />
            </div>
            <div class="drink-img-box">
                <img src="img/placeholder.jpeg" class="drink-size-m" />
            </div>
            <div class="drink-img-box">
                <img src="img/placeholder.jpeg" class="drink-size-l" />
            </div>
            <div class="drink-img-box">
                <img src="img/placeholder.jpeg" class="drink-size-xl" />
            </div>
        </div>
        <div class="drink-options">
            <!--Options-->
            <p>Opties</p>

            <ul>
                <li>Ijs</li>
                <li>Plastic rietje</li>
            </ul>
        </div>
    </section>
    <aside class="overview">
        <!--Overview-->
    </aside>
</div>
<footer>
    <!--Buttons-->
</footer>