@using WebApp.Controllers;
@{
    ViewData["Title"] = "Home Page";
}
<a class="main-btn-alignment" href="/Home/Drinks">
    <button class="main-btn">
        Klik hier om een bestelling aan te maken
    </button>
</a>

