@{
    ViewData["Title"] = "Home Page";
    using (Html.BeginForm("CreateNewOrder", "Home")){

    }
}
<a class="main-btn-alignment" href="/Home/Drinks">
    <button class="main-btn" onclick="CreateNewOrder">
        Klik hier om een bestelling aan te maken
    </button>
</a>

