@model WebApp.Models.SnackInOrder
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    KwikKwekSnack.Data.SnackRepo _repo = new KwikKwekSnack.Data.SnackRepo();
}

<div class="item-overview">
    <section class="drinks">
        <form asp-action="Snacks">
            <div class="snack-size">
                @foreach (KwikKwekSnack.Data.Item snack in _repo.GetSnacks())
                {
                    <div class="snack-img-box">
                        <img src="~/img/@snack.ImageURL" class="snack-img" />
                        @Html.RadioButtonFor(model => model.SnackName, snack.Name) @snack.Name
                    </div>
                }
            </div>
            <input type="submit" class="btn-1">Toevoegen</input>
        </form>
    </section>
    <aside class="overview">
        <!--Overview-->
        <p>Overzicht</p>
        <p>Drankjes:</p>
        <ul>
            @* @foreach (DrinkInOrder drankje in ViewBag.Drinks)
            {
            <li>@drankje.Drink.Name</li>
            }*@
        </ul>
    </aside>
</div>